@import url(//fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900);

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
}

.sans_pro {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 900;
}

.merriweather_i3 {
    font-family: Merriweather;
    font-style: italic;
    font-weight: 300
}

.display_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile_menu {
    display: none;
}

@media screen and (min-width: 400px) and (max-width: 814px) {
    nav {
        display: none;
    }

    .mobile_menu {
        display: block;
    }

    #dark_menu {
        position: fixed;
        top: 10px;
        right: 82px;
        padding: 1px 5px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }

    #light_menu {
        position: fixed;
        top: 0px;
        right: 88px;
    }

    #dark_menu ion-icon {
        color: #323739;
        font-size: 28px;
    }

    #dark_menu span {
        color: #323739;
    }

    #light_menu, #dark_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }

    #light_menu ion-icon {
        color: #fff;
        font-size: 28px;
        margin: 8px;

    }

    #light_menu span {
        color: #fff;
    }

    header {
        position: relative;
        clip-path: inset(1);
    }

    .container {
        position: relative;
        clip-path: inset(0);
    }

    .cards .card {
        width: 90%;
    }

    header h1 {
        color: #fff;
    }

    .section1_txt h2 {
        margin-bottom: 25px;
        font-size: 60px;
        letter-spacing: 1px;
    }

    .container_section1 p {
        font-size: 18px;
        line-height: 1.4;
        text-align: justify;
    }

    .section2-div {
        width: 70%;
    !important;
    }
}

@media screen and (min-width: 814px) and (max-width: 970px) {
    .container_top {
        font-size: 10px;
    }

    nav ion-icon {
        font-size: 20px;
        margin: 5px 5px 5px 0;
        padding: 15px;
    }
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    width: 100%;
    background-image: radial-gradient(#666262, #3f3e3c, #2b3338);
    color: #fff;
    flex-direction: column;
    text-align: center;
    padding: 100px 0px
}

header h1 {
    letter-spacing: 4px;
    font-size: 70px;
}

header p {
    line-height: 2.5;
    font-size: 22px;
    margin: 50px 10px;
}

ion-icon {
    color: white;
    font-size: 30px;
    margin: 10px;
}

header ion-icon {
    font-size: 70px;
}

.container_top {
    color: #fff;
    background-color: #4c4747;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    margin: 10px 10px 10px 0;
    padding: 21px;
    letter-spacing: 2px;
}

ul li a:hover {
    background-color: white;
    color: #000;
}

.container_section1 {
    background-color: white;
    text-align: center;
}

.section1_txt .line {
    background-color: grey;
    width: 20%;
    height: 2px;
}

.container_section1-date h3 {
    margin: 90px 30px;
    font-size: 18px
}

.section1_txt h2 {
    margin-bottom: 50px;
    font-size: 80px;
    letter-spacing: 2px;
    color: rgba(21, 29, 31, 0.8);
}

.container_section1 p {
    font-size: 23px;
    width: 78%;
    line-height: 1.8;
    margin: auto auto 0px;
    vertical-align: middle;
    color: rgba(21, 29, 31, 0.5);
}

.container_section2 {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.section2-div {
    margin: 20px auto;
    height: 400px;
    width: 70%;
    background: linear-gradient(to right, #625451, #908a89);
}

.container_section2 a {
    margin: 20px auto;
}

.container_cards {
    background-color: #fff;
}

.cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 10px;
    margin: 20px auto;
    width: 80%;
}

.cards .card {
    flex-direction: column;
    border: 1px solid grey;
    margin: 10px;
    width: 400px;
}

.cards .card .card_img {
    width: 65%;
    height: 270px;
    background: linear-gradient(90deg, #8f8f83, #9c8f7c);
    margin: 30px 0;
}

.cards .card h2 {
    font-size: 20px;
    letter-spacing: 2px;
    color: rgba(21, 29, 31, 0.8);
}

.card p {
    color: rgba(21, 29, 31, 0.8);
    line-height: 1.8;
    width: 65%;
    text-align: justify;
}

.card h5 {
    margin: 30px;
}

.card_btn {
    padding: 10px 40px;
    border: 2px solid rgba(21, 29, 31, 0.6);
    text-decoration: none;
    margin: 30px;
    color: rgba(21, 29, 31, 0.8);
}

.pages {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.pages .page {
    height: 50px;
    line-height: 50px;
    width: 60px;
    text-align: center;
    border: 1px solid rgba(21, 29, 31, 0.2);
    font-family: Merriweather;
    font-weight: 700;
    font-size: 16px;
    color: rgba(21, 29, 31, 0.7);
}

.pages .page:hover {
    background: #dbd8d8;
}

.pages .page ion-icon {
    color: rgba(21, 29, 31, 0.7);
}

.form {
    background-color: #f5f5f5;
}

.container_form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    line-height: 3.5;
    max-width: 1450px;
    padding: 20px;
}

.left_form {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #83888d;
    margin: 0 80px 30px 20px;
}

.form .left_form input {
    width: 500px;
    height: 40px;
}

.form .left_form input, textarea {
    background: #f5f5f5;
    border: 2px solid #ececec;
}

.left_form .card_btn {
    width: 140px;
    margin: 30px 0;
    color: #83888d;
    padding: 0 40px;
}

.form .right_form {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.contact_item {
    padding: 30px;
    background: #f5f5f5;
    border: 1px solid #ececec;
}

.contact_item span {
    margin: 0 30px;
    color: #83888d;
}

.contact_item span:nth-child(2) {
    font-family: Merriweather;
    font-weight: 300;
}

.social {
    display: flex;
    align-items: center;
}

.container_icons {
    line-height: 1;
}

.right_form .container_icons ion-icon {
    border: 1px solid #83888d;
    border-radius: 50%;
    padding: 8px;
    font-size: 28px;
    color: #83888d;
}

footer {
    height: 200px;
    font-size: 20px;
    color: lightgray;
}

footer span {
    margin: 20px 10px;
    word-spacing: 8px;
}
